.replytrip {
  font-family: "Poiret One", cursive;
  margin-top: 20px;
  margin-left: 35px;
  font-size: 50px;
  font-weight: bold;
}
.replytrip2 {
  font-family: "Poiret One", cursive;
  font-size: 50px;
  font-weight: bold;
  color: aliceblue;
}
